<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button><hr>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <a href="#" class="list-group-item clearfix" *ngFor="let rs of recipes"> 
        <div class="pull-left">
          <h4 class="list-group-item-heading">
            {{rs.name}}
          </h4>
        <p class="list-group-item-text">
          {{rs.description}}
        </p>
        </div>
<span class="pull-right">
  <img [src]="rs.imagePath" alt="{{rs.name}}" class="img-responsive" style="max-width: 200px;">
</span>
      </a>
<app-recipe-item></app-recipe-item>

    </div>
  </div>